* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
:root {
  --primary-font: "Open Sans", "sans-serif";
  --secondary-font: "Playfair Display", "serif";
  --color-primary: #fff;
  --color-white-light: #f8f9fa;
  --color-white-lighter: #f7f7f7;
  --color-grey: #d8dbdd;
  --color-grey-dark: #797877;
  --color-black-main: #000000;
  --color-black-light: #262626;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/heroBg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* header  setup */
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  /* background-color: var(--color-grey); */
  background: rgba(0, 0, 0, 0.7);
  color: var(--color-white-lighter);
}
.header a {
  color: var(--color-white-lighter);
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  padding-top: 2rem;
  align-items: center;
}
.header-nav-list {
  display: flex;
  gap: 4rem;
  list-style: none;
  font-weight: 600;
}

.header-nav-list-item a {
  text-decoration: none;
}

.header-log-wrapper {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-family: var(--secondary-font);
}
.logo {
  font-size: 2.5rem;
}
.header-log-wrapper p {
  font-weight: 3900;
}
.header-contact {
  font-size: 1.8rem;
  font-weight: 600;
}
.header-location {
  font-weight: 300;
}
.header-menu-icon {
  display: none;
}

@media screen and (max-width: 760px) {
  .header-contant-location-wrapper {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header-nav {
    display: none;
  }
  .header-menu-icon {
    display: block;
    font-size: 5rem;
  }
}
/* header setup end */

/* hero section */
.hero-section {
  min-height: 100vh;
  color: var(--color-white-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 7rem;
  gap: 2rem;
  position: relative;
}

.hero-title {
  display: flex;
  flex-direction: column;
  font-family: var(--secondary-font);
  text-transform: capitalize;
}
.hero-title-hr-wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.hero-title-hr-wrapper hr {
  width: 10rem;
}
.hero-title-sub {
  font-weight: 200;
  font-size: 2rem;
}

.hero-title-main {
  font-size: 8rem;
}
.hero-statement {
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero-view-catalog-button {
  color: var(--color-white-light);
  background: transparent;
  padding: 1.5rem 2rem;
  max-width: 20rem;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.5rem;
  border-color: var(--color-white-lighter);
  border-radius: 0.5rem;
}
.hero-preview {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  font-size: 2rem;
  font-weight: 200;
}
.hero-preview-amenities {
  padding: 1rem 2rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.4);
  text-transform: capitalize;
}

.hero-preview-rent {
  display: flex;
  padding: 1rem 2rem;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  background: #000000;
}
.hero-preview-btn-rent {
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-weight: 300;
  background: darkorange;
  border: none;
}
.hero-preview-start-rent {
  display: flex;
  flex-direction: column;
}
.hero-preview-start-rent span {
  color: darkorange;
  font-weight: 700;
}
.hero-preview-rent a {
  text-transform: uppercase;
  color: var(--color-white-lighter);
}

@media screen and (max-width: 813px) {
  .hero-title-main {
    font-size: 4rem;
  }
  .hero-section {
    padding-left: 2rem;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  .hero-preview {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .hero-preview {
    width: 100%;
  }
}
/* end of hero section */

/* amenities start */
.amenities {
  display: flex;
  background: var(--color-white-lighter);
  padding: 1rem 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.amenites-items {
  color: var(--color-black-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
  text-align: center;
  text-transform: capitalize;
  padding-block: 2rem;
}

.aminites-items-icon {
  font-size: 3rem;
  padding-block: 1rem;
}
@media screen and (max-width: 700) {
  .amenites-items {
    padding: 1rem;
  }
  .amenities {
    padding: 0.5rem 1rem;
  }
}

/* amenities end */
